{% extends "base.html.jinja2" %}
{% block heading %}
    <h1 class="display-4">מבחן איכות שמע</h1>
    <p class="lead">רובו-שאול</p>
    <hr class="my-4">

    <p>
        בשאלון הקרוב תתבקשו לדרג את איכות השמע בקטעי דיבור קצרים שעברו עיבוד. ציון איכות השמע יהיה בין 1 (גרוע) ל-5 (מצויין), כאשר:
        <ul>
            <li>ציון 1 - גרוע - אם יש הפרעות מאוד מציקות</li>
            <li>ציון 2 - רע - אם יש הפרעות מציקות</li>
            <li>ציון 3 - בינוני - אם יש הפרעות קצת מציקות</li>
            <li>ציון 4 - טוב - אם יש הפרעות שניתן לשמוע אבל לא מציקות</li>
            <li>ציון 5 - מצויין - אם לא ניתן לשמוע הפרעות</li>
        </ul>
    </p>
    <p>בבקשה לעשות את המבחן בחדר שקט ועם אוזניות.</p>
    <p>לאלהשתמש בפיירפוקס כי הוא עושה בעיות... .אם יש קטעים שלא שומעים זה כי הם עדיין לא נטענו. לחכות בסבלנות בבקשה. לא אמור להיות אף קטע שהוא שקט</p>
    <p>מבחן איכות השמע אמור להיות קצר: נבקש שתאזינו פעם או פעמיים לכל דוגמא, תדרגו אותה ותמשיכו הלאה בלי לחזור אחורה ולשנות ציון קודם.</p>
    <p>ציוני הקטעים יעזרו לנו לכתוב מאמר על אלגוריתמים בשפה העברית.</p>
    <p>תודה רבה על ההשתתפות! רועי ואוריין</p>
{% endblock %}
{% block form_questions %}
    {% for question in questions %}
        <div class="card form-group">
            <div class="card-header">{{ question.title }}</div>
            <div class="card-body">
                <p>
                    <audio controls src="{{ question.audio_path | urlencode }}">
                        Your browser does not support the audio element.
                    </audio>
                </p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_1" value="5" required>
                    <label class="form-check-label" for="{{ question.name }}_1">5 (מצויין)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_2" value="4" required>
                    <label class="form-check-label" for="{{ question.name }}_2">4 (טוב)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_3" value="3" required>
                    <label class="form-check-label" for="{{ question.name }}_3">3 (בינוני)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_4" value="2" required>
                    <label class="form-check-label" for="{{ question.name }}_4">2 (רע)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_5" value="1" required>
                    <label class="form-check-label" for="{{ question.name }}_5">1 (גרוע)</label>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}